
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap');



:root {
  font-family: 'Signika', sans-serif;
  line-height:20PX;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F3F0EB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
  background-color: #F3F0EB;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
  
} 

